@charset "UTF-8";
/*STYLE PRINCIPAL*/
/*Imports*/
/*Variáveis*/
/*Comuns*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Lobster", sans-serif;
}

a {
  text-decoration: none;
}

/*INICIO*/
/*Imports necessários*/
/*MIXINS*/
/*Capa e filhos*/
#capa {
  height: 60vh;
  background-image: url(../ativos/backgroud-capa04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#capa #filtro1 {
  height: 100%;
  background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0.2196078431));
}
#capa #filtro1 header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
  gap: 0;
}
@media screen and (min-width: 768px) {
  #capa #filtro1 header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
#capa #filtro1 header #menu {
  min-width: 650px;
  display: none;
  z-index: 1;
  border-bottom: solid 2px #d29d2b;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  #capa #filtro1 header #menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }
}
#capa #filtro1 header #menu a {
  font-size: 1.2rem;
  color: #ffffff;
  text-shadow: #000000 1px 1px 10px;
  transition: 0.3s;
}
#capa #filtro1 header #menu a:hover {
  color: #d29d2b;
}
#capa #filtro1 header #btn-abrir-menu {
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  z-index: 1;
}
#capa #filtro1 header #btn-abrir-menu:hover {
  color: #d29d2b;
}
@media screen and (min-width: 768px) {
  #capa #filtro1 header #btn-abrir-menu {
    display: none;
  }
}
#capa #filtro1 #logo1 {
  height: 50%;
}
@media screen and (min-width: 768px) {
  #capa #filtro1 #logo1 {
    margin-bottom: 80px;
  }
}

/*Barra lateral e filhos*/
#barra-lateral {
  background-color: #000000;
  height: 100vh;
  width: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  gap: 0;
  transition: 0.3s;
}
#barra-lateral #btn-fechar-menu {
  color: #ffffff;
  font-size: 1.6rem;
}
#barra-lateral #btn-fechar-menu:hover {
  color: #d29d2b;
}
#barra-lateral a {
  width: 100%;
  text-align: right;
  padding: 15px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s;
}
#barra-lateral a:hover {
  background-color: #d29d2b;
}

/*Imports necessários*/
/*MIXINS*/
/*Galeria*/
#galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #000000;
  padding: 15px;
}
#galeria h1 {
  text-align: center;
  color: #d29d2b;
  font-size: 1.3rem;
}
@media screen and (min-width: 768px) {
  #galeria h1 {
    font-size: 2rem;
  }
}
#galeria #container-carrossel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  #galeria #container-carrossel {
    width: 750px;
  }
}
#galeria #container-carrossel #carouselExampleIndicators {
  border-bottom: solid 3px #d29d2b;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
#galeria #btn-lojas {
  background-color: none;
  border: solid 2px #d29d2b;
  color: #d29d2b;
  margin-top: 15px;
}
#galeria #btn-lojas:hover {
  background-color: #d29d2b;
  color: #000000;
}

/*SOBRE*/
/*Imports necessários*/
/*MIXINS*/
/*Sobre*/
#sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-image: url(../ativos/back-sobre.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
#sobre #filtro2 {
  padding: 15px 30px 50px;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4196078431), #000000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
@media screen and (min-width: 768px) {
  #sobre #filtro2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 100px 100px 50px 100px;
  }
}
#sobre #filtro2 #logo2 {
  margin: 20px 0;
  width: 100%;
}
#sobre #filtro2 #texto-sobre {
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
  text-align: center;
}
@media screen and (min-width: 768px) {
  #sobre #filtro2 #texto-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
    text-align: left;
    border-left: solid 5px #d29d2b;
    padding: 25px 30px;
  }
}
#sobre #filtro2 #texto-sobre h2 {
  color: #d29d2b;
}
#sobre #filtro2 #texto-sobre #btn-insta {
  background-color: #ffffff;
  border: solid 2px #ffffff;
  color: #000000;
  margin-top: 15px;
  text-shadow: none;
  box-shadow: 2px 2px 2px #000000;
}
#sobre #filtro2 #texto-sobre #btn-insta:hover {
  background-color: #d29d2b;
  color: #000000;
  border: solid 2px #d29d2b;
}

/*MIXINS*/

/*# sourceMappingURL=style.css.map */
