*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a{
    text-decoration: none;
}

/*Variáveis*/

$Cor-primaria: #d29d2b;
$Cor-secundária: beige;
$Cor-escura: #000000;
$Cor-Clara: #ffffff;