/*COMUNS*/

/*Variáveis*/
$Cor-primaria: #d29d2b;
$Cor-secundaria: #e9d373;
$Cor-escura: #000000;
$Cor-Clara: #ffffff;
$Fonte-primaria: 'Lobster', sans-serif;

/*Comuns*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: $Fonte-primaria;
}

a{
    text-decoration: none;
}