/*Imports necessários*/
@import "./mixins.scss";

/*Galeria*/
#galeria{

    @include display(flex, column, center, center, 20px);
    background-color: $Cor-escura;
    padding: 15px;

    h1{
        text-align: center;
        color: $Cor-primaria;
        font-size: 1.3rem;

        @media screen and (min-width: 768px){
            font-size: 2rem;
        }
    }
    
    /*Carrossel*/
    #container-carrossel{
        @include display(flex, column, center, center, 20px);
        
        @media screen and (min-width: 768px){
            width: 750px;
        }

        #carouselExampleIndicators{
            border-bottom: solid 3px $Cor-primaria;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
        }
    }

    /*Botão de link para lojas*/
    #btn-lojas{
        background-color: none;
        border: solid 2px $Cor-primaria;
        color: $Cor-primaria;
        margin-top: 15px;

        &:hover{
            background-color: $Cor-primaria;
            color: $Cor-escura;
        }
    }
}