/*INICIO*/

/*Imports necessários*/
@import "./mixins.scss";


/*Capa e filhos*/
#capa{
    height: 60vh;
    background-image: url(../ativos/backgroud-capa04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    #filtro1{
        height: 100%;
        background-image: linear-gradient(to top, #000000, #00000038);



    header{
        #menu{
            width: 100%;
            display:none;
            z-index: 1;

    

            @media screen and (min-width: 768px){
            @include display (flex, row, center, center, 30px )
            }

        }

        #btn-abrir-menu{
            font-size: 1.6rem;
            font-weight: bold;
             color: #ffffff;
            background-color: #000000;
            z-index: 1;

            &:hover{
                color: $Cor-primaria;
            }

            @media screen and (min-width: 768px){
                display: none;
            }

        }
    }

    #logo1{
        height: 50%;


        @media screen and (min-width: 768px){
        
            margin-bottom: 80px;
        }
    }
}
}

/*Barra lateral e filhos*/
#barra-lateral{
    background-color: $Cor-escura;
    height: 100vh;
    width: 0;
    overflow: hidden;
    @include display(flex, column, start, end, 0);
    transition: .3s;

    #btn-fechar-menu{
        color: $Cor-Clara;
        font-size: 1.6rem;
        

        &:hover{
            color: $Cor-primaria;
        }
    }

    a{
        width: 100%;
        text-align: right;
        padding: 15px;
        color: $Cor-Clara;
        text-decoration: none;
        transition: .2s;
       
        &:hover{
            background-color: $Cor-primaria;
    
        }
    }

}

