/*LOJAS*/

/*Imports necessários*/
@import "comuns.scss";

/*Lojas*/
#lojas {
    padding:100px 50px;
    @include display(flex, column, center, center, 25px);
    border-top: solid 8px $Cor-primaria;
    background-image: url(../ativos/back-lojas-doo.png);
    background-size: cover;
    background-position: center;

    h2 {
        text-align: center;
        text-shadow: 5px 5px $Cor-secundaria;
        font-size: 2.5rem;
    }

    #container-lojas {
        @include display(flex, column, center, center, 25px);
        flex-wrap: wrap;
        
        @media screen and (min-width: 768px) {
            @include display(flex, row, center, center, 25px);
        }

        h3 {
            margin: 10px 0 0;
        }
        
        /*cards*/
        .cards {
            width: 300px;
            background-color: $Cor-escura;
            border: double 8px $Cor-primaria;
            border-radius: 25px;
            padding: 15px;
            color: $Cor-primaria;
            @include display(flex, column, center, center, 0px);
            box-shadow: 3px 3px 2px $Cor-secundaria;
            transition: .5s;

            &:hover{
                transform: scale(1.02);
            }

            img {
                width: 100%;
                height: 170px;
                border-radius: 15px 15px 30px 30px;
                border-bottom: solid 3px $Cor-primaria;
            }

            h3 {
                margin: 10px 0 0;
                span {
                    color: red;
                }
            }

            .endereco-loja {

                p {
                    margin: 0;
                    text-align: center;
                    padding: 5px;
                }

                .map-box {
                    width: 100%;
                    height: 100px;
                    margin: 0;
                    overflow: hidden;

                    iframe {
                        height: 100%;
                        width: 100%;
                        overflow: hidden;
                        border: solid 4px $Cor-primaria;
                        border-radius: 30px 30px 15px 15px;
                    }
                }
            }
        }
    }
}